[package]
name = "alan"
description = "The Alan Compiler and VM"
license = "AGPL-3.0"
homepage = "https://alan-lang.org"
documentation = "https://docs.alan-lang.org"
repository = "https://github.com/alantech/alan"
version = "0.1.23"
authors = ["Luis de Pombo <luis@alantechnologies.com>", "David Ellis <david@alantechnologies.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1.3.4"
clap = "2.33.1"
dashmap = "3.11.10"
futures = "0.3.8"
hyper = "0.13"
num_cpus = "1.0"
once_cell = "1.3.1"
rand = "0.7.3"
regex = "1"
reqwest = { version = "0.10", features = ["json"] }
serde_json = { version = "1.0" }
tokio = { version = "0.2", features = ["rt-threaded", "blocking", "macros", "sync", "time"] }
twox-hash = "1.5.0"
