name: autopublish

on:
  push:
    branches: [ main ]

jobs:
  autopublish:
    runs-on: ubuntu-latest
    steps:
      - name: Autopublish Docs
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.AUTOPUBLISH }}
          repository: alantech/alanlang-docs
          event-type: autopublish
          client-payload: '{}'
      - name: Autopublish Homepage
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.AUTOPUBLISH }}
          repository: alantech/alanlang-homepage
          event-type: autopublish
          client-payload: '{}'
